<div id="intro">
    <h1>Food Picker</h1>
    <h4>It's guaranteed to be a fair random choice!</h4>
</div>
<div id="selected">
    <h2>You should choose: {{selected}}</h2>
    <button mat-raised-button color="primary" (click)="selectItem()">Pick an item</button>
    <button mat-raised-button color="warn" (click)="clear()">Clear items</button>
</div>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        Current items
    </mat-expansion-panel-header>
    <mat-list >
        <mat-list-item *ngFor="let item of items">{{item}}</mat-list-item>
    </mat-list>
</mat-expansion-panel>
<mat-expansion-panel id="addItem">
    <mat-expansion-panel-header>
        Add a dish/restaurant
    </mat-expansion-panel-header>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" [(ngModel)]="foodItem">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addItem()">Add</button>
</mat-expansion-panel>