
<div id="intro">
    <h1>Welcome to MealTime!</h1>
    <h2>Ever had trouble deciding what to eat? Too many appealing options? You're at the right place! Simply click the button below to begin.</h2>
    <h3>This might happen when you're thinking about what to cook, what to get for take out, debating where to go for a meal, or what to choose on a menu in a restaurant. </h3>
    <h3>This is a web-app, created in Angular, using Material Design components.</h3>
    
    <button mat-flat-button color="primary" (click)="navigateToPicker()">Start</button>
    <br/>
    
    <button mat-flat-button color="primary" (click)="navigateToYelpFinder()">Find me a restaurant</button>

</div>